Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**

back.chore: add transaction service
  backend/src/constants/general.constants.ts
  backend/src/helpers/collection.helper.ts
  backend/src/interfaces/abi.interface.ts
  backend/src/services/abi.service.ts
  backend/src/services/creation.service.ts
  backend/src/services/deployment.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

feat: added metadata editor & solving merge conflicts
  frontend/src/components/editor.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/components/editor/select.vue
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added metadata editing for editor
  backend/src/constants/contract.constants.ts
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/invalidContractOptionsException.exception.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/interfaces/metadata.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/storedContract.service.ts
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/js/constants.js
  frontend/src/js/mapper.js
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.fix: corrections in lifecycle and scroll behaviours
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/main.js
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: interaction work in progress
  backend/package-lock.json
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/interfaces/general.interface.ts
  backend/src/services/deployment.service.ts
  backend/src/services/interaction.service.ts
  backend/src/services/transaction.service.ts
Due: Install Backend, Deploy Backend to Production

fix: disabled autocomplete for metadata fields
  frontend/src/components/editor/metadata/metadata.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: corrected editor windows not aligning
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

chore: added variable for backend
  bitbucket-pipelines.yml
Due: none

feat: added network switching
  backend/serverless.yml
  backend/src/constants/contract.constants.ts
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/noNetwork.exception.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/deployment.service.ts
  backend/src/services/transaction.service.ts
  backend/src/services/verification.service.ts
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

feat: added metadata in interact & validations
  frontend/src/components/button.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/fileInput.vue
  frontend/src/components/interacter.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/js/utils.js
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: nonpayable, gas, etc
  backend/src/constants/contract.constants.ts
  backend/src/contracts/custom.contract.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/helpers/template.helper.ts
  backend/src/services/abi.service.ts
  backend/src/services/creation.service.ts
  backend/src/services/interaction.service.ts
  backend/src/services/transaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: interaction working. tested with one param
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

feat: added API calls & redesign
  backend/src/constants/contract.constants.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/helpers/creation.helper.ts
  frontend/src/components/accordion.vue
  frontend/src/components/button.vue
  frontend/src/components/codeViewer.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/components/editor/select.vue
  frontend/src/components/interacter.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Interact.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.refactor: improvements and corrections to edit & interact
  frontend/src/components/accordion.vue
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/interacter.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: added error handling for interaction and type validations for method inputs
  backend/package-lock.json
  backend/package.json
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/blockchainInteract.exception.ts
  backend/src/exceptions/methodInput.exception.ts
  backend/src/helpers/validations.helper.ts
  backend/src/services/deployment.service.ts
  backend/src/services/interaction.service.ts
  backend/src/services/transaction.service.ts
Due: Install Backend, Deploy Backend to Production

front.fix: interact corrections
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: added missing library
  backend/package-lock.json
Due: Install Backend, Deploy Backend to Production

front.fix: minor tweaks & error handling
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/plugins/api.js
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: multiple fixes in interact
  backend/src/contracts/Pausable.contract.ts
  backend/src/helpers/validations.helper.ts
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.refactor: minor tweaks in front interact
  frontend/src/tailwind.css
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: code viewer improvements
  frontend/src/components/codeViewer.vue
  frontend/src/tailwind.css
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: mint method handling
  backend/serverless.yml
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/invalidInput.exception.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/helpers/validations.helper.ts
  backend/src/interfaces/metadata.interface.ts
  backend/src/services/interaction.service.ts
  backend/src/services/ipfs.service.ts
  backend/src/services/storedContract.service.ts
  backend/src/services/transaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: mint handling almost done
  backend/src/constants/general.constants.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/interaction.service.ts
  backend/src/services/ipfs.service.ts
Due: Install Backend, Deploy Backend to Production

back.fix: compilation errors with enumerable and others. added compilation endpoint for testing
  backend/serverless.yml
  backend/src/contracts/Enumerable.contract.ts
  backend/src/handlers/contracts/getCompiledContract.ts
  backend/src/helpers/template.helper.ts
  backend/src/services/creation.service.ts
  backend/src/services/template.service.ts
Due: Install Backend, Deploy Backend to Production

front: fix: changed metadata field names
  backend/src/services/template.service.ts
  frontend/src/js/mapper.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

fix: corrected front & back errors
  backend/src/constants/general.constants.ts
  backend/src/exceptions/blockchainInteract.exception.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/helpers/collection.helper.ts
  backend/src/services/deployment.service.ts
  backend/src/services/interaction.service.ts
  backend/src/services/transaction.service.ts
  frontend/src/assets/images/icons/ethereum.svg
  frontend/src/assets/images/icons/etherscan.svg
  frontend/src/assets/images/icons/opensea.svg
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/js/mapper.js
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.chore: updated dependencies
  backend/package-lock.json
Due: Install Backend, Deploy Backend to Production

back.fix: new env.var. that was missing
  bitbucket-pipelines.yml
Due: none

back.fix: corrected error names
  backend/src/exceptions/noNetwork.exception.ts
Due: Install Backend, Deploy Backend to Production

back.chore: new value for env.var
  bitbucket-pipelines.yml
Due: none

back.fix: change to trigger deploy
  backend/src/exceptions/noNetwork.exception.ts
Due: Install Backend, Deploy Backend to Production

front.fix: UI fixes and metadata form fixes
  frontend/src/assets/images/Background-Drawing.svg
  frontend/src/components/accordion.vue
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/components/editor/textarea.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/js/mapper.js
  frontend/src/js/utils.js
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: working mint method
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: input error handling
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/invalidInput.exception.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: not found error handling
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/contractNotFound.exception.ts
  backend/src/exceptions/notFoundException.exception.ts
  backend/src/services/abi.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: add result type to interact and mint methods
  backend/src/constants/contract.constants.ts
  backend/src/constants/general.constants.ts
  backend/src/contracts/AutoIncrementIds.contract.ts
  backend/src/contracts/ERC721.contract.ts
  backend/src/contracts/Enumerable.contract.ts
  backend/src/contracts/ListTokens.contract.ts
  backend/src/contracts/Mintable.contract.ts
  backend/src/contracts/Pausable.contract.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/interfaces/abi.interface.ts
  backend/src/interfaces/blockchain.interface.ts
  backend/src/interfaces/general.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/interaction.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added connection to minting
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: metadata simulates opensea format
  backend/src/interfaces/metadata.interface.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.chore: added missing env.vars
  bitbucket-pipelines.yml
Due: none

back.fix: corrected standard metadata format
  backend/serverless.yml
  backend/src/interfaces/metadata.interface.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production
