Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Install and Build Frontend:
  caches:
  - node
  script:
  - cd frontend
  - npm install
  - npm run build
  - ls dist/
  artifacts:
  - frontend/dist/**

Install Backend:
  caches:
  - node
  script:
  - cd backend
  - npm install

Deploy Frontend to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_FRONTEND_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_FRONTEND_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_BUKET_NAME
  ...

Deploy Backend to Production:
  image: node:16-alpine3.14
  caches:
  - node
  script:
  - apk add python3
  - npm install -g serverless
  - cd backend
  - npm install
  - serverless config credentials --provider aws --key $AWS_BACKEND_ACCESS_KEY_ID --secret $AWS_BACKEND_SECRET_ACCESS_KEY
  - serverless deploy

Export docs artifacts:
  script:
  - ls docs/api-spec/
  artifacts:
  - docs/api-spec/**

Deploy Docs to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_DOCS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_DOCS_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_DOCS_BUKET_NAME
  ...

back.refactor: added validations & removed debug endpoints
  backend/serverless.yml
  backend/src/handlers/contracts/getCompiledContract.ts
  backend/src/handlers/contracts/getExampleContract.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/handlers/health/healthcheck.ts
  backend/src/helpers/validations.helper.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added input validations & improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/input.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/js/validations.js
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: added i18n to validations
  frontend/src/components/editor/input.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/js/utils.js
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/tailwind.css
Due: Install and Build Frontend, Deploy Frontend to Production

fix: SEO fixes
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
  frontend/public/share.png
  frontend/public/smart-nfts-logo.png
Due: Install and Build Frontend, Deploy Frontend to Production

fix: removed AMP
  frontend/index.html
Due: Install and Build Frontend, Deploy Frontend to Production

fix: SEO improvements
  frontend/index.html
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: style correction for inputs
  frontend/src/components/editor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added contract downloading
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/handlers/contracts/getContractContents.ts
  backend/src/helpers/compiler.helper.ts
  backend/src/helpers/compression.helper.ts
  backend/src/middleware/corsHandler.middleware.ts
  docs/api-spec/smart-nfts-spec.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/button.vue
  frontend/src/components/editor.vue
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

back.docs: minor fix to backend docs
  docs/api-spec/smart-nfts-spec.json
Due: Export docs artifacts, Deploy Docs to Production

back.docs: corrections to API docs
  docs/api-spec/smart-nfts-spec.json
Due: Export docs artifacts, Deploy Docs to Production

front.fix: UI improvements
  README.md
  frontend/index.html
  frontend/src/App.vue
  frontend/src/components/editor.vue
  frontend/src/components/interacter.vue
  frontend/src/tailwind.css
  frontend/src/views/Create.vue
  frontend/src/views/Existing.vue
  frontend/src/views/Home.vue
  frontend/src/views/NotFound.vue
  frontend/src/views/ServerError.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: accessibility fix
  frontend/src/App.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: minor change to trigger redeploy
  backend/serverless.yml
Due: Install Backend, Deploy Backend to Production

back.fix: minor CORS fixes
  backend/serverless.yml
Due: Install Backend, Deploy Backend to Production

fix: general fixes
  backend/serverless.yml
  frontend/src/components/editor.vue
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.refactor: minor refactor
  backend/serverless.yml
  backend/src/helpers/compression.helper.ts
  backend/src/helpers/contractFlattener.helper.ts
Due: Install Backend, Deploy Backend to Production

front.fix: fixes to general errors
  frontend/src/components/interacter.vue
  frontend/src/js/validations.js
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: error handling and modularizing handlers to avoid logic in them
  backend/package-lock.json
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/compilation.exception.ts
  backend/src/exceptions/contractNotFound.exception.ts
  backend/src/exceptions/generic.exception.ts
  backend/src/exceptions/insufficientGas.exception.ts
  backend/src/exceptions/verificationFailed.exception.ts
  backend/src/handlers/contracts/getContract.ts
  backend/src/handlers/contracts/getContractContents.ts
  backend/src/handlers/contracts/postCreateContract.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/helpers/compiler.helper.ts
  backend/src/helpers/errors.helper.ts
  backend/src/interfaces/compilation.interface.ts
  backend/src/interfaces/error.interface.ts
  backend/src/middleware/errorHandler.middleware.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/database.service.ts
  backend/src/services/deployment.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

back.fix: missing files
  backend-server/src/exceptions/generic.exception.ts
  backend-server/src/interfaces/error.interface.ts
  backend-serverless-single/src/exceptions/generic.exception.ts
  backend-serverless-single/src/interfaces/error.interface.ts
  backend/package.json
  backend/src/middleware/errorHandler.middleware.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/deployment.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: error handling complete. Modularized all handlers
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/contractNotDeployed.exception.ts
  backend/src/exceptions/missingExtension.exception.ts
  backend/src/exceptions/verificationDuplication.exception.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/helpers/verification.helper.ts
  backend/src/interfaces/general.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/creation.service.ts
  backend/src/services/deployment.service.ts
  backend/src/services/storedContract.service.ts
  backend/src/services/verification.service.ts
Due: Install Backend, Deploy Backend to Production

feat: added uri storage extension to front and back. fixed ordering or methods and params in contract creation
  backend/src/constants/contract.constants.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/services/creation.service.ts
  frontend/src/components/editor.vue
  frontend/src/js/constants.js
  frontend/src/js/mapper.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.feat: added solidity required overrides message and separated ordering of these
  backend/src/contracts/Pausable.contract.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/helpers/template.helper.ts
  backend/src/interfaces/contract.interface.ts
  backend/src/services/creation.service.ts
  backend/src/services/template.service.ts
Due: Install Backend, Deploy Backend to Production

back.fix: method ordering for none required solidity overrides
  backend/src/helpers/collection.helper.ts
  backend/src/services/creation.service.ts
Due: Install Backend, Deploy Backend to Production

feat: add Enumerable extension and fix wrong options and override merging
  backend/src/constants/contract.constants.ts
  backend/src/contracts/Correct.contract.ts
  backend/src/contracts/Enumerable.contract.ts
  backend/src/contracts/Pausable.contract.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/services/creation.service.ts
Due: Install Backend, Deploy Backend to Production

front.refactor: minor UI updates
  backend/package-lock.json
  frontend/src/components/accordion.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.fix: added validations for name & symbol
  frontend/src/components/editor.vue
  frontend/src/js/validations.js
  frontend/src/locales/en.json
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: switch to node 14
  backend/serverless.yml
Due: Install Backend, Deploy Backend to Production

back.feat: added IPFS service
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/interfaces/ipfs.interface.ts
  backend/src/services/ipfs.service.ts
  backend/tsconfig.json
Due: Install Backend, Deploy Backend to Production

refactor: added tabbed sections
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/Create-Drawing.svg
  frontend/src/assets/images/Edit-Drawing.svg
  frontend/src/assets/images/Interact-Drawing.svg
  frontend/src/assets/images/bg-gradient-1.svg
  frontend/src/assets/images/bg-gradient-2.svg
  frontend/src/assets/images/bg-gradient-3.svg
  frontend/src/components/button.vue
  frontend/src/components/featureContent.vue
  frontend/src/components/hiddenAnchor.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/tabs.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

refactor: added contract id inputs
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/featureContent.vue
  frontend/src/locales/en.json
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

refactor: changed hero in homepage
  frontend/src/App.vue
  frontend/src/assets/images/Background-Drawing.svg
  frontend/src/assets/images/Main-Drawing.svg
  frontend/src/components/leftHero.vue
  frontend/src/components/tabs.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added benefits page
  frontend/src/assets/images/icons/Icon-No-Coding.svg
  frontend/src/assets/images/icons/Icon-No-Gas.svg
  frontend/src/assets/images/icons/Icon-No-Wallet.svg
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/facts.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added vertical facts section
  frontend/src/assets/images/Contract-Drawing.svg
  frontend/src/assets/images/icons/Icon-Centralized.svg
  frontend/src/assets/images/icons/Icon-Explanation.svg
  frontend/src/assets/images/icons/Icon-Time.svg
  frontend/src/components/facts.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/verticalFacts.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added new footer
  frontend/src/components/static/footer.vue
  frontend/src/components/static/navbar.vue
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/Create.vue
  frontend/src/views/Existing.vue
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: color corrections
  frontend/src/components/anchoredTitle.vue
  frontend/src/components/button.vue
  frontend/src/components/editor.vue
  frontend/src/components/static/footer.vue
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: minor accessibility fix
  frontend/src/App.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: error pages corrections
  frontend/src/views/NotFound.vue
  frontend/src/views/ServerError.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added dropdown menu in mobile
  frontend/src/App.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/tailwind.css
Due: Install and Build Frontend, Deploy Frontend to Production

fix: mobile responsiveness fixes
  frontend/src/components/button.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/facts.vue
  frontend/src/components/leftHero.vue
  frontend/src/components/section.vue
  frontend/src/components/static/footer.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/components/tabs.vue
  frontend/src/components/verticalFacts.vue
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

feat: add is enumerable in front and fix nonpayable visibility not compiling
  backend/src/constants/contract.constants.ts
  backend/src/contracts/ListTokens.contract.ts
  backend/src/helpers/creation.helper.ts
  backend/src/interfaces/blockchain.interface.ts
  backend/src/services/deployment.service.ts
  frontend/src/components/editor.vue
  frontend/src/js/constants.js
  frontend/src/js/mapper.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**
