Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Install and Build Frontend:
  caches:
  - node
  script:
  - cd frontend
  - npm install
  - npm run build
  - ls dist/
  artifacts:
  - frontend/dist/**

Install Backend:
  caches:
  - node
  script:
  - cd backend
  - npm install

Deploy Frontend to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_FRONTEND_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_FRONTEND_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_BUKET_NAME
  ...

Deploy Backend to Production:
  image: node:16-alpine3.14
  caches:
  - node
  script:
  - apk add python3
  - npm install -g serverless
  - cd backend
  - npm install
  - serverless config credentials --provider aws --key $AWS_BACKEND_ACCESS_KEY_ID --secret $AWS_BACKEND_SECRET_ACCESS_KEY
  - serverless deploy

Export docs artifacts:
  script:
  - ls docs/api-spec/
  artifacts:
  - docs/api-spec/**

Deploy Docs to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_DOCS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_DOCS_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_DOCS_BUKET_NAME
  ...

front.feat: added pagination to `/tokens`
  frontend/src/components/visualize/pagination.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/js/constants.js
  frontend/src/locales/en.json
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fixes: added links & corrections
  frontend/src/components/static/footer.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/locales/en.json
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added size validations for files
  frontend/src/components/editor/fileInput.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: added missing dependency
  backend/package-lock.json
  backend/package.json
Due: Install Backend, Deploy Backend to Production

front.fix: changed pagination inactive style
  frontend/src/components/visualize/pagination.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: added email sending endpoint
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/assets/reminderEmailTemplate-Inline.html
  backend/src/assets/reminderEmailTemplate.html
  backend/src/assets/reminderEmailTemplate.json
  backend/src/handlers/contracts/postSendContractReminder.ts
  backend/src/helpers/email.helper.ts
  backend/src/helpers/validations.helper.ts
  frontend/package-lock.json
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.feat: corrections & multi-language support for emails
  backend/package-lock.json
  backend/package.json
  backend/src/assets/reminderEmailTemplate-Inline.html
  backend/src/assets/reminderEmailTemplate-Inline_Spanish.html
  backend/src/assets/reminderEmailTemplate_Spanish.html
  backend/src/assets/reminderEmailTemplate_Spanish.json
  backend/src/constants/general.constants.ts
  backend/src/handlers/contracts/postSendContractReminder.ts
  backend/src/helpers/email.helper.ts
  backend/src/middleware/corsHandler.middleware.ts
  backend/src/models/storedContract.model.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added email sending w/recaptcha
  frontend/src/components/editor.vue
  frontend/src/components/modals/deployContractModal.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/components/modals/verifyContractModal.vue
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/plugins/recaptcha.js
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: gas fees
  backend/src/constants/general.constants.ts
  backend/src/contracts/UniqueStorage.contract.ts
  backend/src/services/deployment.service.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: restricting more fields in safe mint
  frontend/src/components/interaction/methodAccordion.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added view tab to go view your tokens
  frontend/src/assets/images/View-Drawing.svg
  frontend/src/locales/en.json
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added tooltip component
  frontend/src/components/tooltip.vue
  frontend/src/main.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: minor input fixes
  frontend/src/components/editor/input.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: new editor footer redesign
  frontend/src/components/editor.vue
  frontend/src/components/editor/informationItem.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/editor/select.vue
  frontend/src/components/tooltip.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: editor & viewer now same height
  frontend/src/components/editor/informationItem.vue
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added tx hash in interact responses
  frontend/src/components/button.vue
  frontend/src/components/interacter.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: better action icons & more responsiveness
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/locales/en.json
  frontend/src/views/Interact.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: refactored header & home full i18n
  frontend/index.html
  frontend/src/components/static/footer.vue
  frontend/src/components/static/header.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/locales/en.json
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added status page
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/etherscanError.exception.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/handlers/health/healthcheck.ts
  backend/src/helpers/units.helper.ts
  backend/src/services/etherscan.service.ts
  frontend/src/js/utils.js
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/plugins/api.js
  frontend/src/routes.js
  frontend/src/views/Interact.vue
  frontend/src/views/Status.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.fix: added i18n to 404 and 500 pages
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/hero.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/locales/en.json
  frontend/src/views/Interact.vue
  frontend/src/views/NotFound.vue
  frontend/src/views/ServerError.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added i18n to view tokens page
  frontend/src/components/modal.vue
  frontend/src/components/notifications/snackbar.vue
  frontend/src/components/visualize/pagination.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/locales/en.json
  frontend/src/views/NotFound.vue
  frontend/src/views/ServerError.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added i18n to interact page
  frontend/src/components/editor/fileInput.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: updated site logo & favicon
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
  frontend/public/smart-nfts-logo.png
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: corrected robots.txt
  frontend/public/robots.txt
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added i18n to editor
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: limit supply, input sent from front missing
  backend/src/constants/contract.constants.ts
  backend/src/contracts/AutoIncrementIds.contract.ts
  backend/src/contracts/Burnable.contract.ts
  backend/src/contracts/ERC721.contract.ts
  backend/src/contracts/Enumerable.contract.ts
  backend/src/contracts/LimitSupply.contract.ts
  backend/src/contracts/Mintable.contract.ts
  backend/src/contracts/Pausable.contract.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/contracts/custom.contract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/helpers/template.helper.ts
  backend/src/interfaces/contract.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/creation.service.ts
  backend/src/services/storedContract.service.ts
  backend/src/services/template.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: limit supply
  frontend/src/components/editor.vue
  frontend/src/js/constants.js
  frontend/src/js/mapper.js
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added limited supply input to front & corrections
  backend/src/contracts/LimitSupply.contract.ts
  backend/src/helpers/template.helper.ts
  backend/src/helpers/validations.helper.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/storedContract.service.ts
  backend/src/services/template.service.ts
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/js/mapper.js
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.feat: added text content to contract editor
  frontend/src/components/editor.vue
  frontend/src/locales/en.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added editor content
  frontend/src/components/editor.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: CSS fixes to editor
  frontend/src/components/codeViewer.vue
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: adding name and type to replacing inputs
  backend/src/contracts/AutoIncrementIds.contract.ts
  backend/src/contracts/Burnable.contract.ts
  backend/src/contracts/ERC721.contract.ts
  backend/src/contracts/Enumerable.contract.ts
  backend/src/contracts/LimitSupply.contract.ts
  backend/src/contracts/Mintable.contract.ts
  backend/src/contracts/Pausable.contract.ts
  backend/src/contracts/URIStorage.contract.ts
  backend/src/contracts/UniqueStorage.contract.ts
  backend/src/interfaces/contract.interface.ts
  backend/src/services/creation.service.ts
Due: Install Backend, Deploy Backend to Production

back.refactor: added checking origin header
  backend/src/constants/errors.constants.ts
  backend/src/constants/header.constants.ts
  backend/src/exceptions/missingHeader.exception.ts
  backend/src/handlers/contracts/getCompiledContract.ts
  backend/src/handlers/contracts/getContract.ts
  backend/src/handlers/contracts/getContractContents.ts
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/handlers/contracts/postCreateContract.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/handlers/contracts/postSendContractReminder.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/handlers/health/healthcheck.ts
  backend/src/handlers/security/postVerifyRecaptchaToken.ts
  backend/src/middleware/corsHandler.middleware.ts
  backend/src/middleware/headerHandler.middleware.ts
Due: Install Backend, Deploy Backend to Production

front.refactor: CSS corrections & less hljs size
  frontend/public/js/highlight.min.js
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/components/tabs.vue
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: better security & corrections
  backend/package.json
  backend/serverless.yml
  backend/src/constants/errors.constants.ts
  backend/src/constants/header.constants.ts
  backend/src/exceptions/recaptchaVerificationFailed.exception.ts
  backend/src/handlers/contracts/getCompiledContract.ts
  backend/src/handlers/contracts/getContract.ts
  backend/src/handlers/contracts/getContractContents.ts
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/handlers/contracts/postCreateContract.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/handlers/contracts/postInteractContract.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/handlers/contracts/postSendContractReminder.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/handlers/health/healthcheck.ts
  backend/src/handlers/security/postVerifyRecaptchaToken.ts
  backend/src/middleware/corsHandler.middleware.ts
  backend/src/middleware/headerHandler.middleware.ts
  backend/src/middleware/recaptchaVerificator.middleware.ts
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/fileInput.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/plugins/recaptcha.js
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
  frontend/src/views/Interact.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

fix: corrections to status page & contract download
  backend/src/handlers/health/healthcheck.ts
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.chore: changed texts
  frontend/src/locales/en.json
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: changed highlighting to fix Safari
  frontend/index.html
  frontend/package-lock.json
  frontend/public/js/highlight.min.js
  frontend/public/js/prism.min.js
  frontend/public/js/solidity.min.js
  frontend/src/App.vue
  frontend/src/components/codeViewer.vue
  frontend/src/main.js
  frontend/src/plugins/recaptcha.js
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: redesign of status page & fixes
  frontend/src/components/static/footer.vue
  frontend/src/locales/en.json
  frontend/src/plugins/ipfs.js
  frontend/src/plugins/recaptcha.js
  frontend/src/views/Status.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: started adding jest unit tests
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/services/creation.test.ts
  backend/src/helpers/string.helper.ts
Due: Install Backend, Deploy Backend to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**
