Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Install and Build Frontend:
  caches:
  - node
  script:
  - cd frontend
  - npm install
  - npm run build
  - ls dist/
  artifacts:
  - frontend/dist/**

Install Backend:
  caches:
  - node
  script:
  - cd backend
  - npm install

Deploy Frontend to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_FRONTEND_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_FRONTEND_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_BUKET_NAME
  ...

Deploy Backend to Production:
  image: node:16-alpine3.14
  caches:
  - node
  script:
  - apk add python3
  - npm install -g serverless
  - cd backend
  - npm install
  - serverless config credentials --provider aws --key $AWS_BACKEND_ACCESS_KEY_ID --secret $AWS_BACKEND_SECRET_ACCESS_KEY
  - serverless deploy

Export docs artifacts:
  script:
  - ls docs/api-spec/
  artifacts:
  - docs/api-spec/**

Deploy Docs to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_DOCS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_DOCS_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_DOCS_BUKET_NAME
  ...

back.chore: updated env.vars.
  bitbucket-pipelines.yml
Due: none

back.chore: add receipt to error when interacting with blockchain
  backend/src/constants/contract.constants.ts
  backend/src/constants/metadata.constants.ts
  backend/src/exceptions/blockchainInteract.exception.ts
  backend/src/interfaces/metadata.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/interaction.service.ts
  backend/src/services/transaction.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: added data to error handling
  backend/src/exceptions/blockchainInteract.exception.ts
  backend/src/exceptions/compilation.exception.ts
  backend/src/exceptions/contractNotDeployed.exception.ts
  backend/src/exceptions/custom.exception.ts
  backend/src/exceptions/insufficientGas.exception.ts
  backend/src/exceptions/invalidContractOptionsException.exception.ts
  backend/src/exceptions/invalidInput.exception.ts
  backend/src/exceptions/missingExtension.exception.ts
  backend/src/exceptions/noNetwork.exception.ts
  backend/src/exceptions/notFoundException.exception.ts
  backend/src/exceptions/verificationDuplication.exception.ts
  backend/src/exceptions/verificationFailed.exception.ts
  backend/src/middleware/errorHandler.middleware.ts
Due: Install Backend, Deploy Backend to Production

back.chore: add name and symbol validations
  backend/src/helpers/validations.helper.ts
  backend/src/services/interaction.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

back.chore: testing get events
  backend/serverless.yml
  backend/src/contracts/ListTokens.contract.ts
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

chore: added local deployment scripts
  .gitignore
  backend/README.md
  backend/package.json
  docs/api-spec/README.md
  docs/api-spec/package.json
  frontend/README.md
  frontend/package.json
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

front.fix: minor code viewer fix
  frontend/src/components/codeViewer.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added edit contract button in interact page
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: editor tweaks
  frontend/src/components/editor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: corrected call to get token IDs
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: replaced lorem with real text
  frontend/index.html
  frontend/src/locales/en.json
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: general size tweaks
  frontend/src/components/button.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
  frontend/src/views/Interact.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: working endpoint to get the token owners
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/interfaces/blockchain.interface.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

feat: added Recaptcha V3 to app
  backend/serverless.yml
  backend/src/handlers/security/postVerifyRecaptchaToken.ts
  backend/src/services/recaptchaVerificationService.ts
  frontend/index.html
  frontend/src/App.vue
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/main.js
  frontend/src/plugins/api.js
  frontend/src/plugins/recaptcha.js
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

fix: Recaptcha cleanup & build fixes
  .gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/services/recaptchaVerificationService.ts
  frontend/README.md
  frontend/src/App.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/interaction/methodAccordion.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.fix: code viewer style fixes
  frontend/src/components/codeViewer.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.refactor: moved `abi` and `extensions` properties
  backend/src/models/storedContract.model.ts
  backend/src/services/deployment.service.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

front.refactor: changed property locations in API data
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: added digest to contract
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/contractAlreadyDeployed.exception.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/deployment.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

front.fix: added limits to deployment
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: token listing with paging
  backend/src/constants/general.constants.ts
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/helpers/validations.helper.ts
  backend/src/interfaces/general.interface.ts
  backend/src/services/interaction.service.ts
  backend/src/services/listing.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: remove burned tokens and add token uri only if necessary
  backend/src/services/listing.service.ts
Due: Install Backend, Deploy Backend to Production

back.chore: merge with refactor db branch
  backend/package-lock.json
  backend/src/interfaces/blockchain.interface.ts
  backend/src/services/listing.service.ts
Due: Install Backend, Deploy Backend to Production

fix: minor fixes
  .gitignore
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/helpers/validations.helper.ts
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.chore: change return type of token listing
  backend/src/constants/contract.constants.ts
  backend/src/contracts/ListTokens.contract.ts
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/interfaces/general.interface.ts
  backend/src/services/listing.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added token cards & recovery
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/js/constants.js
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/plugins/api.js
  frontend/src/plugins/ipfs.js
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: added floating icon & better card handling
  frontend/src/components/floatingIcon.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/main.js
  frontend/src/plugins/clickOutside.js
  frontend/src/tailwind.css
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: contract generation and front customization for unique storage complete. missing hashing logic
  backend/package-lock.json
  backend/package.json
  backend/src/constants/contract.constants.ts
  backend/src/contracts/UniqueStorage.contract.ts
  backend/src/services/creation.service.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

feat: added particular token modal
  backend/src/handlers/contracts/getTokenList.ts
  frontend/src/components/floatingIcon.vue
  frontend/src/components/modal.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/components/visualize/tokenBoost.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/tailwind.css
  frontend/src/views/Showcase.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

feat: added more links to expanded tokens
  frontend/src/components/visualize/tokenCard.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: modal improvements in showcase
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

refactor: new expanded card design
  frontend/src/components/modal.vue
  frontend/src/components/visualize/tokenBoost.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

feat: unique storage on front, paging on back
  backend/src/handlers/contracts/getTokenList.ts
  backend/src/services/listing.service.ts
  docs/.env.production_deploy
  frontend/src/components/editor.vue
  frontend/src/js/constants.js
  frontend/src/js/mapper.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

fix: ui fixes & improvements
  frontend/src/components/accordion.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/visualize/tokenCard.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: ignored file
  .gitignore
  docs/.env.production_deploy
Due: none

front.fix: corrected API call & text
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.chore: added minting service and a extension check
  backend/src/constants/errors.constants.ts
  backend/src/exceptions/invalidInput.exception.ts
  backend/src/handlers/contracts/postMintToken.ts
  backend/src/services/interaction.service.ts
  backend/src/services/minting.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

ack.chore: fixed paging
  backend/src/handlers/contracts/getTokenList.ts
Due: Install Backend, Deploy Backend to Production

back.feat: add metadata hashing for unique storage
  backend/package-lock.json
  backend/package.json
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**
