Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Install and Build Frontend:
  caches:
  - node
  script:
  - cd frontend
  - npm install
  - npm run build
  - ls dist/
  artifacts:
  - frontend/dist/**

Install Backend:
  caches:
  - node
  script:
  - cd backend
  - npm install

Deploy Frontend to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_FRONTEND_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_FRONTEND_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_BUKET_NAME
  ...

Deploy Backend to Production:
  image: node:16-alpine3.14
  caches:
  - node
  script:
  - apk add python3
  - npm install -g serverless
  - cd backend
  - npm install
  - serverless config credentials --provider aws --key $AWS_BACKEND_ACCESS_KEY_ID --secret $AWS_BACKEND_SECRET_ACCESS_KEY
  - serverless deploy

Export docs artifacts:
  script:
  - ls docs/api-spec/
  artifacts:
  - docs/api-spec/**

Deploy Docs to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_DOCS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_DOCS_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_DOCS_BUKET_NAME
  ...

back.chore: changing update contract method to make it faster
  backend/src/constants/contract.constants.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

front.refactor: changes to how data is sent to backend
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/codeViewer.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/fileInput.vue
  frontend/src/components/facts.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/components/notifications/snackbar.vue
  frontend/src/components/section.vue
  frontend/src/components/tooltip.vue
  frontend/src/js/mapper.js
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/plugins/recaptcha.js
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
  frontend/src/views/Interact.vue
  frontend/src/views/Showcase.vue
  frontend/src/views/Status.vue
  frontend/vite.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: started about page
  frontend/src/assets/images/About-Us-Drawing.svg
  frontend/src/components/leftHero.vue
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: more test that resulted in code improvements
  backend/src/__tests__/services/creation.test.ts
  backend/src/exceptions/invalidContractOptionsException.exception.ts
  backend/src/helpers/creation.helper.ts
  backend/src/services/creation.service.ts
  backend/src/services/storedContract.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added footer about links
  frontend/src/components/static/footer.vue
  frontend/src/locales/en.json
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.refactor: optimized flattener code & logging
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/helpers/contractFlattener.helper.ts
  backend/src/services/etherscan.service.ts
Due: Install Backend, Deploy Backend to Production

back.fix: missing package-lock
  frontend/package-lock.json
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: corrected token with transparent bg
  frontend/src/components/visualize/tokenCard.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: added param sorting for invocations + ENVIRONMENT enum
  backend/src/__tests__/creation.test.ts
  backend/src/__tests__/metadata.test.ts
  backend/src/constants/general.constants.ts
  backend/src/helpers/compiler.helper.ts
  backend/src/middleware/headerHandler.middleware.ts
  backend/src/services/interaction.service.ts
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added text to interact page & minor refactor
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/About.vue
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
  frontend/src/views/Interact.vue
  frontend/src/views/NotFound.vue
  frontend/src/views/ServerError.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: added validation for file size in API on mint
  backend/src/constants/errors.constants.ts
  backend/src/constants/general.constants.ts
  backend/src/exceptions/invalidInput.exception.ts
  backend/src/services/minting.service.ts
  frontend/src/components/editor/fileInput.vue
  frontend/src/locales/en.json
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.fix: corrected location of verification for file size
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: added some metadata test -> some failing
  backend/src/__tests__/creation.test.ts
  backend/src/__tests__/metadata.test.ts
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

back.chore: added sonarqube for static analysis
  .gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/sonar-project.js
Due: Install Backend, Deploy Backend to Production

front.feat: added autofill button with address
  backend/package.json
  frontend/src/components/accordion.vue
  frontend/src/components/button.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/interacter.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/locales/en.json
  frontend/src/views/Interact.vue
  frontend/src/views/Showcase.vue
  frontend/tailwind.config.js
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.fix: fixed failing metadata test code errors
  backend/src/__tests__/metadata.test.ts
  backend/src/helpers/validations.helper.ts
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

back.feat: metadata testing complete
  backend/src/__tests__/creation.test.ts
  backend/src/__tests__/metadata.test.ts
Due: Install Backend, Deploy Backend to Production

front.fix: better front errors
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/locales/en.json
  frontend/src/views/Home.vue
  frontend/src/views/Showcase.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: corrected token name validation
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

front.fix: style corrections
  frontend/src/components/editor/input.vue
  frontend/src/locales/en.json
  frontend/src/tailwind.css
  frontend/src/views/Home.vue
  frontend/src/views/Status.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.chore: cleanup of prints
  backend/src/services/minting.service.ts
Due: Install Backend, Deploy Backend to Production

front.chore: changed texts
  frontend/src/locales/en.json
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added about and changed routing of nav items
  frontend/src/components/static/footer.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/locales/en.json
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: checkbox is now purple
  frontend/src/components/editor/checkbox.vue
  frontend/src/components/editor/select.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added spanish translation
  frontend/public/sitemap.xml
  frontend/src/components/editor/metadata/metadataField.vue
  frontend/src/components/tabs.vue
  frontend/src/components/visualize/pagination.vue
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: corrected & updated email templates
  backend/src/assets/reminderEmailTemplate-Inline.html
  backend/src/assets/reminderEmailTemplate-Inline_Spanish.html
  backend/src/assets/reminderEmailTemplate.json
  backend/src/assets/reminderEmailTemplate_Spanish.json
Due: Install Backend, Deploy Backend to Production

front.fix: minor hyperlink change
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: minor SEO & accessibility corrections
  frontend/src/components/static/header.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/About.vue
Due: Install and Build Frontend, Deploy Frontend to Production

fix: validation & UX fixes
  backend/src/helpers/validations.helper.ts
  frontend/src/assets/images/icons/IdIcon.svg
  frontend/src/components/editor.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/modals/remindContractModal.vue
  frontend/src/components/visualize/tokenBoost.vue
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/js/validations.js
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.refactor: cleanup of old code
  backend/serverless.yml
  backend/src/handlers/contracts/getCompiledContract.ts
Due: Install Backend, Deploy Backend to Production

back.fix: texts after call with JoaquiP
  frontend/src/locales/en.json
  frontend/src/locales/es.json
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: minor UX & copy tweaks
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Home.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: corrections to UX & UI
  frontend/src/components/accordion.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: refactor, better text & UX improvements
  backend/src/handlers/contracts/postSendContractReminder.ts
  frontend/src/components/anchoredTitle.vue
  frontend/src/components/editor/fileInput.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/editor/metadata/metadata.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/loadingBlock.vue
  frontend/src/content/interact.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/main.js
  frontend/src/plugins/getHelp.js
  frontend/src/tailwind.css
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Interact.vue
  frontend/src/views/Showcase.vue
  frontend/src/views/Status.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.refactor: removed unused code & minor tweaks
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/anchoredTitle.vue
  frontend/src/components/button.vue
  frontend/src/components/contractIdVerificator.vue
  frontend/src/components/editor.vue
  frontend/src/components/editor/checkbox.vue
  frontend/src/components/editor/informationItem.vue
  frontend/src/components/facts.vue
  frontend/src/components/featureContent.vue
  frontend/src/components/floatingIcon.vue
  frontend/src/components/hero.vue
  frontend/src/components/hiddenAnchor.vue
  frontend/src/components/interacter.vue
  frontend/src/components/leftHero.vue
  frontend/src/components/loadingBlock.vue
  frontend/src/components/modal.vue
  frontend/src/components/modals/deployContractModal.vue
  frontend/src/components/modals/verifyContractModal.vue
  frontend/src/components/static/footer.vue
  frontend/src/components/static/header.vue
  frontend/src/components/tabs.vue
  frontend/src/components/tooltip.vue
  frontend/src/components/verticalFacts.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/vite.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**
