Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Install and Build Frontend:
  caches:
  - node
  script:
  - cd frontend
  - npm install
  - npm run build
  - ls dist/
  artifacts:
  - frontend/dist/**

Install Backend:
  caches:
  - node
  script:
  - cd backend
  - npm install

Deploy Frontend to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_FRONTEND_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_FRONTEND_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_BUKET_NAME
  ...

Deploy Backend to Production:
  image: node:16-alpine3.14
  caches:
  - node
  script:
  - apk add python3
  - npm install -g serverless
  - cd backend
  - npm install
  - serverless config credentials --provider aws --key $AWS_BACKEND_ACCESS_KEY_ID --secret $AWS_BACKEND_SECRET_ACCESS_KEY
  - serverless deploy

Export docs artifacts:
  script:
  - ls docs/api-spec/
  artifacts:
  - docs/api-spec/**

Deploy Docs to Production:
  clone:
    enabled: false
  script:
  - pipe: atlassian/aws-s3-deploy:1.1.0
    variables:
      AWS_ACCESS_KEY_ID: $AWS_DOCS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_DOCS_SECRET_ACCESS_KEY
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      S3_BUCKET: $AWS_DOCS_BUKET_NAME
  ...

front.fix: corrected `sitemap.xml`
  frontend/public/sitemap.xml
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: removed unused dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: add help for verify & deploy
  frontend/src/components/editor.vue
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: auto scroll to result in interact
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/invisibleId.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: better tooltip implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/input.vue
  frontend/src/components/tooltip.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: corrected tooltip CSS & translations
  backend/src/exceptions/blockchainInteract.exception.ts
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/tooltip.vue
  frontend/src/locales/es.json
  frontend/src/tailwind.css
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

back.fix: limit supply not limiting properly
  backend/src/contracts/LimitSupply.contract.ts
Due: Install Backend, Deploy Backend to Production

back.feat: added tests for interaction inputs
  backend/src/__tests__/interaction.test.ts
  backend/src/services/interaction.service.ts
Due: Install Backend, Deploy Backend to Production

front.fix: corrections to visualize CSS
  frontend/src/components/visualize/tokenCard.vue
  frontend/src/components/visualize/tokenTrait.vue
  frontend/src/locales/en.json
Due: Install and Build Frontend, Deploy Frontend to Production

back.fix: verification not working due to missing contract parts
  backend/package-lock.json
  backend/package.json
  backend/src/helpers/contractFlattener.helper.ts
  frontend/package-lock.json
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.test: change zip downloading
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.test: corrections to zip downloading
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: corrections to zip file download
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: removed unused library
  frontend/package-lock.json
  frontend/package.json
  frontend/src/plugins/api.js
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: missing hover styles for static components
  frontend/src/components/static/footer.vue
  frontend/src/components/static/navbar.vue
  frontend/src/components/static/navbarMobile.vue
Due: Install and Build Frontend, Deploy Frontend to Production

Create LICENSE
  LICENSE
Due: none

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**
