Repository GonzaloHirsch/smart-nfts: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production, Export docs artifacts, Deploy Docs to Production

Path conditions:
  Install and Build Frontend: any of: frontend/**
  Install Backend: any of: backend/**
  Deploy Frontend to Production: any of: frontend/**
  Deploy Backend to Production: any of: backend/**
  Export docs artifacts: any of: docs/api-spec/**
  Deploy Docs to Production: any of: docs/api-spec/**

back.fix: attempt to correct pipeline
  backend/README.md
  bitbucket-pipelines.yml
Due: Install Backend, Deploy Backend to Production

back.fix: corrected image version
  backend/README.md
  bitbucket-pipelines.yml
Due: Install Backend, Deploy Backend to Production

back.fix: added missing command to pipeline
  backend/README.md
  bitbucket-pipelines.yml
Due: Install Backend, Deploy Backend to Production

back.fix: added missing dependencies for `serverless`
  backend/package-lock.json
  backend/package.json
Due: Install Backend, Deploy Backend to Production

back.fix: added missing `npm install` command
  bitbucket-pipelines.yml
Due: none

back.docs: change to trigger pipeline
  backend/README.md
Due: Install Backend, Deploy Backend to Production

chore: updated env vars in pipeline
  bitbucket-pipelines.yml
Due: none

chore: updated env var names
  bitbucket-pipelines.yml
Due: none

front&back.feat: added endpoints to backend & editor improvements in front
  backend/serverless.yml
  backend/src/handlers/contracts/getContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/creation.service.ts
  backend/src/services/storedContract.service.ts
  frontend/src/components/codeViewer.vue
  frontend/src/components/editor.vue
  frontend/src/js/mapper.js
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/plugins/api.js
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.fix: corrected case of non-existent contract
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Deploy Frontend to Production

docs: added more endpoint docs
  docs/api-spec/smart-nfts-spec.json
Due: Export docs artifacts, Deploy Docs to Production

back.fix: corrected return values
  backend/src/handlers/contracts/postCreateContract.ts
  backend/src/handlers/contracts/putUpdateContract.ts
Due: Install Backend, Deploy Backend to Production

front.feat: added editing of existing contract
  frontend/src/components/button.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/icons/spinner.vue
  frontend/src/locales/en.json
  frontend/src/views/Create.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added notifications
  backend/src/constants/contract.constants.ts
  frontend/src/App.vue
  frontend/src/components/notifications/snackbar.vue
  frontend/src/main.js
  frontend/src/plugins/api.js
  frontend/src/plugins/notifications.js
  frontend/src/views/Create.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

front.chore: added env. var. for front building
  bitbucket-pipelines.yml
Due: none

front.refactor: added env. var. for API url
  frontend/README.md
  frontend/src/plugins/api.js
  frontend/src/views/Create.vue
Due: Install and Build Frontend, Deploy Frontend to Production

back.feat: added deployment & verification endpoints
  .gitignore
  backend/.gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/serverless.yml
  backend/src/@custom_types/sol-straightener.d.ts
  backend/src/constants/contract.constants.ts
  backend/src/constants/general.constants.ts
  backend/src/exceptions/insufficientGas.exception.ts
  backend/src/exceptions/verificationFailed.exception.ts
  backend/src/handlers/contracts/getContract.ts
  backend/src/handlers/contracts/postCreateContract.ts
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/helpers/compiler.helper.ts
  backend/src/helpers/oz.helper.ts
  backend/src/helpers/string.helper.ts
  backend/src/helpers/verification.helper.ts
  backend/src/interfaces/abi.interface.ts
  backend/src/interfaces/general.interface.ts
  backend/src/models/storedContract.model.ts
  backend/src/services/creation.service.ts
  backend/src/services/deployment.service.ts
Due: Install Backend, Deploy Backend to Production

back.chore: added env. vars. for deployment
  bitbucket-pipelines.yml
Due: none

back.docs: added more docs to README
  backend/README.md
Due: Install Backend, Deploy Backend to Production

back.fix: extended timeout for deployment
  backend/serverless.yml
Due: Install Backend, Deploy Backend to Production

back.fix: added error logging for verification
  backend/src/helpers/verification.helper.ts
Due: Install Backend, Deploy Backend to Production

back.fix: added error logging for verification
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/helpers/compiler.helper.ts
Due: Install Backend, Deploy Backend to Production

back.refactor: removed library & added own code
  backend/package-lock.json
  backend/package.json
  backend/src/handlers/contracts/postVerifyContract.ts
  backend/src/helpers/compiler.helper.ts
  backend/src/helpers/contractFlattener.helper.ts
  sol-straightener-master/.eslintignore
  sol-straightener-master/.eslintrc
  sol-straightener-master/.gitignore
  sol-straightener-master/.npmignore
  sol-straightener-master/.travis.yml
  sol-straightener-master/LICENSE
  sol-straightener-master/README.md
  sol-straightener-master/index.js
  sol-straightener-master/lib/straighten.js
  sol-straightener-master/package.json
  sol-straightener-master/test/package.json
  sol-straightener-master/test/straighten.js
  sol-straightener-master/utils/file.js
Due: Install Backend, Deploy Backend to Production

back.refactor: removed unused code
  sol-straightener-master/.eslintignore
  sol-straightener-master/.eslintrc
  sol-straightener-master/.gitignore
  sol-straightener-master/.npmignore
  sol-straightener-master/.travis.yml
  sol-straightener-master/LICENSE
  sol-straightener-master/README.md
  sol-straightener-master/index.js
  sol-straightener-master/lib/straighten.js
  sol-straightener-master/package.json
  sol-straightener-master/test/package.json
  sol-straightener-master/test/straighten.js
  sol-straightener-master/utils/file.js
Due: none

back.docs: added docs for new endpoints
  docs/api-spec/smart-nfts-spec.json
Due: Export docs artifacts, Deploy Docs to Production

front.feat: added working deploy/verify buttons
  backend/src/handlers/contracts/postDeployContract.ts
  backend/src/handlers/contracts/postVerifyContract.ts
  frontend/src/components/button.vue
  frontend/src/components/editor.vue
  frontend/src/locales/en.json
  frontend/src/plugins/api.js
  frontend/src/views/ContractEditor.vue
Due: Install and Build Frontend, Install Backend, Deploy Frontend to Production, Deploy Backend to Production

fix: update pipeline to fix cache issues
  bitbucket-pipelines.yml
Due: none

back.docs: updated api spec & corrected errors
  docs/api-spec/smart-nfts-spec.json
Due: Export docs artifacts, Deploy Docs to Production

front.docs: minor update to docs
  frontend/README.md
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: refactored pages & responsiveness improvements
  frontend/src/components/editor.vue
  frontend/src/routes.js
  frontend/src/views/ContractEditor.vue
  frontend/src/views/Create.vue
  frontend/src/views/Existing.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.refactor: moved assets around & self hosted highlight.js
  frontend/index.html
  frontend/public/font/inter.css
  frontend/public/font/open_sans.css
  frontend/public/js/highlight.min.js
  frontend/public/js/solidity.min.js
  frontend/src/assets/styles/inter.css
  frontend/src/assets/styles/open_sans.css
  frontend/src/tailwind.css
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added sitemap and index tweaks
  frontend/index.html
  frontend/public/robots.txt
  frontend/public/sitemap.xml
Due: Install and Build Frontend, Deploy Frontend to Production

front.fix: added missing canonical tag
  frontend/index.html
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added google analytics
  frontend/index.html
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added ABI reading
  frontend/src/components/accordion.vue
  frontend/src/components/button.vue
  frontend/src/components/editor/input.vue
  frontend/src/components/interacter.vue
  frontend/src/components/interaction/methodAccordion.vue
  frontend/src/components/notifications/snackbar.vue
  frontend/src/locales/en.json
  frontend/src/routes.js
  frontend/src/views/Components.vue
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production

front.feat: added anchored headers
  frontend/src/components/anchoredTitle.vue
  frontend/src/locales/en.json
  frontend/src/main.js
  frontend/src/views/Interact.vue
Due: Install and Build Frontend, Deploy Frontend to Production
